:host .list-wrapper {
  margin: 32px auto;
}

:host .currencies-list {
  margin: 32px auto;
  max-width: 50%;
}

:host .currency-item {
  padding: 8px 16px;
  margin-bottom: 8px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-content: center;


  .key {
      flex: 2 0 50%;
      font-size: 22px;
  }

  .value {}


  .cell {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex: 0 0 25%;
    margin-right: 16px;
    padding: 4px 12px;

  }


  .buy .label,
  .sell .label {
      font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
