<section class="list-wrapper">

  <ul class="currencies-list">
    <li *ngFor="let item of model$ | async" class="currency-item">

      <div class="cell key">
        {{item.key}}
      </div>

      <div class="cell buy">
        <span class="label">Buy</span>
        <div class="value">{{item.buy | addSymbol: item.symbol}}</div>
      </div>
      <div class="cell sell">
        <span class="label">Sell</span>
        <div class="value">{{item.sell | addSymbol: item.symbol}}</div>
      </div>

    </li>
  </ul>

</section>
